<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portfolio - Projects</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg fancy-navbar">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <a href="/">Home</a>
                    <a href="/aboutMe">About AnthonyQ</a>
                    <a href="/projects">Projects</a>
                    <a href="/contact">Contact</a>
                    <a class="nav-link twitter-link" href="https://twitter.com/" target="_blank">
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                </ul>
            </div>
        </div>
    </nav>

    <ol>
        <li>Spring Boot App</li>
            <ul>
                <li>Test#1</li>
                    <ul>
                        <li>hey</li>
                        <li>haha</li>
                    </ul>
                <li>Test#2</li>
                <li>Test#3</li>
            </ul>
        <li>REST API</li>
        <li>Frontend Website</li>
    </ol>

</body>
</html>